:root {
  --mask: radial-gradient(22.86px at 50% 32.25px, #000 99%, #0000 101%)
      calc(50% - 30px) 0/60px 100%,
    radial-gradient(22.86px at 50% -17.25px, #0000 99%, #000 101%) 50% 15px/60px
      100% repeat-x;
}

.coffee-cup {
  @apply w-32 h-32 border-8 border-black z-10 rounded-b-full relative;
}

.coffee-cup::after {
  content: '';
  width: 120%;
  left: -10%;
  bottom: -8px;
  @apply absolute h-2 bg-black rounded-md;
}

.coffee-cup::before {
  content: '';
  right: -50%;
  top: 7%;
  @apply absolute w-14 h-20 border-8 border-black border-l-0 z-0 rounded-r-full;
}

.coffee {
  -webkit-mask: var(--mask);
  mask: var(--mask);
  top: 60%;
  background-color: #dbc1ac;
  animation: coffee 2s infinite ease-in-out;
  @apply w-28 h-24 rounded-b-full z-0 absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}
.coffee-2 {
  -webkit-mask: var(--mask);
  mask: var(--mask);
  top: 67%;
  background-color: #38220f;
  animation: coffee 2s infinite ease-in-out;
  @apply w-28 h-20 rounded-b-full z-0 absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.load-dot {
  @apply w-2 h-2 bg-black rounded-full;
}

@keyframes coffee {
  0% {
    --mask: radial-gradient(13.12px at 50% 18.4px, #000 99%, #0000 101%)
        calc(50% - 16px) 0/32px 100%,
      radial-gradient(13.12px at 50% -10.4px, #0000 99%, #000 101%) 50% 8px/32px
        100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  10% {
    --mask: radial-gradient(14.76px at 50% 20.7px, #000 99%, #0000 101%)
        calc(50% - 18px) 0/36px 100%,
      radial-gradient(14.76px at 50% -11.7px, #0000 99%, #000 101%) 50% 9px/36px
        100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  20% {
    --mask: radial-gradient(16.48px at 50% 23.4px, #000 99%, #0000 101%)
        calc(50% - 20px) 0/40px 100%,
      radial-gradient(16.48px at 50% -12.4px, #0000 99%, #000 101%) 50% 10px/40px
        100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  30% {
    --mask: radial-gradient(18.24px at 50% 26.1px, #000 99%, #0000 101%)
        calc(50% - 22px) 0/44px 100%,
      radial-gradient(18.24px at 50% -13.1px, #0000 99%, #000 101%) 50% 11px/44px
        100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  40% {
    --mask: radial-gradient(20.08px at 50% 28.8px, #000 99%, #0000 101%)
        calc(50% - 24px) 0/48px 100%,
      radial-gradient(20.08px at 50% -14.8px, #0000 99%, #000 101%) 50% 12px/48px
        100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  50% {
    --mask: radial-gradient(20.08px at 50% 28.8px, #000 99%, #0000 101%)
        calc(50% - 24px) 0/48px 100%,
      radial-gradient(20.08px at 50% -14.8px, #0000 99%, #000 101%) 50% 12px/48px
        100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  60% {
    --mask: radial-gradient(20.08px at 50% 28.8px, #000 99%, #0000 101%)
        calc(50% - 24px) 0/48px 100%,
      radial-gradient(20.08px at 50% -14.8px, #0000 99%, #000 101%) 50% 12px/48px
        100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  70% {
    --mask: radial-gradient(18.24px at 50% 26.1px, #000 99%, #0000 101%)
        calc(50% - 22px) 0/44px 100%,
      radial-gradient(18.24px at 50% -13.1px, #0000 99%, #000 101%) 50% 11px/44px
        100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  80% {
    --mask: radial-gradient(16.48px at 50% 23.4px, #000 99%, #0000 101%)
        calc(50% - 20px) 0/40px 100%,
      radial-gradient(16.48px at 50% -12.4px, #0000 99%, #000 101%) 50% 10px/40px
        100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }

  90% {
    --mask: radial-gradient(14.76px at 50% 20.7px, #000 99%, #0000 101%)
        calc(50% - 18px) 0/36px 100%,
      radial-gradient(14.76px at 50% -11.7px, #0000 99%, #000 101%) 50% 9px/36px
        100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }
  100% {
    --mask: radial-gradient(13.12px at 50% 18.4px, #000 99%, #0000 101%)
        calc(50% - 16px) 0/32px 100%,
      radial-gradient(13.12px at 50% -10.4px, #0000 99%, #000 101%) 50% 8px/32px
        100% repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }
}
